### ANALYSIS OF INDIAN START-UP ECOSYSTEM FUNDING AND POWER BI DEPLOYMENT.(2018–2021)

##  1.Business Understanding

#### 1.1.Overview
The Indian startup ecosystem is dynamic and constantly evolving, presenting both opportunities and challenges for businesses venturing into new territory. To successfully navigate this ecosystem, it is crucial to develop a deep understanding of customer needs, market dynamics, and funding patterns. This project aims to analyze the Indian startup ecosystem from 2018 to 2021, with a focus on funding patterns, emerging trends, and strategic investment opportunities. The insights derived from this analysis will guide investors in making informed decisions about resource allocation in the burgeoning Indian startup market.

#### 1.2.Project Description
This project seeks to provide a comprehensive analysis of the Indian startup ecosystem from 2018 to 2021. The primary objective is to investigate funding patterns, identify emerging trends, and uncover strategic investment opportunities for investors. By examining funding distributions, sector-specific details, and focal geographic points, this analysis will offer valuable insights into the Indian startup landscape.

#### 1.2.1 Goals
The goal of this project is to analyze venture funding in India from 2018 to 2021. The study will involve a thorough examination of datasets to explore funding distributions, sector-specific details, and geographic trends within the Indian startup ecosystem.

#### 1.2.2. Data Mining Objectives

i. Identify funding trends across different sectors.
 ii. Analyze the geographical distribution of funded startups.
 iii. Determine characteristics of successful startups (e.g., sector, stage of development, funding amount).
 iv. Forecast future investment trends and identify potential high-growth sectors.

#### 1.3.Project Plan
##### i.	Data Collection and Preparation: 
Gather datasets, clean data, handle missing values, and prepare data for analysis.
##### ii.	Exploratory Data Analysis (EDA):
Perform initial data exploration to understand key features and relationships within the data.
##### iii.	Modeling:
Apply statistical and machine learning models to identify patterns and predict trends.
##### iv.	Evaluation: 
Assess the performance of models and validate findings.
##### v.	Deployment: 
Present insights using Power BI dashboards and reports for investors and stakeholders.

#### 1.4 Hypotheses:
##### Null Hypothesis (H0):
There is no significant trend in the funding amounts received by Indian startups from 2018 to 2021.
##### Alternative Hypothesis (H1): 
There is a significant trend in the funding amounts received by Indian startups from 2018 to 2021.

#### 1.5 Key Questions:
##### i. Which sectors received the highest funding in the Indian startup ecosystem from 2018 to 2021?
-Identify the sectors that attracted the most significant investment in the Indian startup ecosystem over a four-year period. 

-Determine which industries are considered the most promising by investors.

-This insight can help in understanding market trends and identifying potential growth areas for future investments.


##### ii. How did the average funding amount per startup change over the years from 2018 to 2021?
-Understanding the trends in funding amounts per startup over the specified years. 

-Examining the changes in average funding, to infer whether investor confidence has grown or waned and how economic or market conditions may have influenced investment behaviors.

-This analysis will provide context for the overall health and evolution of the startup ecosystem in India.

#### iii. Which geographical regions in India attracted the most startup funding during this period?
-Geographical analysis of funding distribution to identify the regions in India that are hotspots for startup activity and investment. 

-Determine which areas received the most funding, to  uncover regional disparities, potential hubs of innovation, and the factors contributing to these trends.

-This knowledge can guide regional investment strategies and policy-making.


#### iv. What are the characteristics of startups that received higher funding (e.g., sector, stage of development)?
-Understanding the attributes of highly funded startups to  reveal what investors prioritize when allocating large sums of money.

-Seeks to  explore the common traits among these startups, such as the sector they operate in, their stage of development (e.g., seed, early-stage, growth stage), and other relevant factors. 

-These insights can help new startups align their strategies to attract more funding.

#### v. Who are the most active investors in the Indian startup ecosystem, and what are their investment patterns?
-Identifying  the key investors and analyzing their investment patterns to provide valuable insights into the dynamics of the funding landscape.

-Looks at the  most active investors in number of investments made and the diversity of their investment portfolios. 

-Understanding these patterns can help in networking, forming strategic partnerships, and targeting potential investors who are actively contributing to the ecosystem.

#### 1.6.Stakeholders
•	Investors: Gain insights into funding trends, sector preferences, and top-performing startups to make informed investment decisions.

•	Startups: Understand the competitive landscape, identify potential funding opportunities, and benchmark against top-funded companies.

•	Policymakers: Identify regional disparities and areas needing support to foster a balanced and inclusive startup ecosystem.

•	Entrepreneurs: Gain knowledge about successful sectors and regions to focus efforts and attract investment.

#### 1.7.Project Impact
##### By providing a detailed analysis of the startup funding landscape in India, this project aims to:
•	Inform investment strategies and decisions for venture capitalists and angel investors.

•	Guide startups in planning their fundraising efforts and understanding market dynamics.

•	Support policymakers in developing initiatives to promote regional and sectoral growth.

•	Help entrepreneurs identify opportunities and threats within the startup ecosystem.

# 2.   Data Understanding
This is done by setting up the environment and then loading the databases to get an initial understanding of them and how they relate to the tasks at hand. We begin by importing the relevant libraries and then we start by loading the 2018 and 2019 datasets. Then we connect to an online source where the 2020 and 2021 datasets are stored and then import them into this workbook.

### 2.1 Preparation

#### Install python-dotenv -For loading environment Variables and pyodbc-A package to create connection strings to remote databases¶

In [1]:
%pip install python-dotenv
%pip install pyodbc

Requirement already satisfied: python-dotenv in c:\users\wwalubengo\documents\python scripts\lib\site-packages (1.0.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pyodbc in c:\users\wwalubengo\documents\python scripts\lib\site-packages (4.0.34)Note: you may need to restart the kernel to use updated packages.

##### Import all other necessary packages¶

In [40]:
import pandas as pd
import pyodbc
from dotenv import dotenv_values
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objs as go
import warnings

# Suppress warnings
warnings.filterwarnings('ignore')

### 2.2 Collection
##### 2.2.1 Import datasets

##### Connect to server for 2020 and 2021 Datasets

In [103]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the .env file
database = environment_variables.get("DATABASE")
server = environment_variables.get("SERVER")
login= environment_variables.get("LOGIN")
password = environment_variables.get("PASSWORD")

# Define the connection parameters
server = 'dap-projects-database.database.windows.net'
database = 'dapDB'
username = 'LP1_learner'
password = 'Hyp0th3s!$T3$t!ng'

# Create the connection string
connection_string = (
    'DRIVER={ODBC Driver 17 for SQL Server};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'UID={username};'
    f'PWD={password}'
)

print(connection_string)


# Create the connection string
connection_string = (
    f'mssql+pyodbc://{username}:{password}@{server}/{database}'
    '?driver=ODBC+Driver+17+for+SQL+Server')

DRIVER={ODBC Driver 17 for SQL Server};SERVER=dap-projects-database.database.windows.net;DATABASE=dapDB;UID=LP1_learner;PWD=Hyp0th3s!$T3$t!ng

#### Access  data set remotely from the SQL server data base management system

In [113]:
# Display the data
print(data)

      Company/Brand  Founded HeadQuarter                   Sector  \
0    Bombay Shaving      NaN         NaN                Ecommerce
1         Ruangguru   2014.0      Mumbai                   Edtech
2          Eduisfun      NaN      Mumbai                   Edtech
3          HomeLane   2014.0     Chennai          Interior design
4          Nu Genes   2004.0   Telangana                 AgriTech
..              ...      ...         ...                      ...
84     Infra.Market      NaN      Mumbai                Infratech
85              Oyo   2013.0    Gurugram              Hospitality
86       GoMechanic   2016.0       Delhi  Automobile & Technology
87           Spinny   2015.0       Delhi               Automobile
88  Ess Kay Fincorp      NaN   Rajasthan                  Banking

                                         What it does  \
0          Provides a range of male grooming products
1   A learning platform that provides topic-based ...
2             It aims to make learning fun via games.
3               Provides interior designing solutions
4   It is a seed company engaged in production, pr...
..                                                ...
84  It connects client requirements to their suppl...
85                Provides rooms for comfortable stay
86  Find automobile repair and maintenance service...
87                                Online car retailer
88              Organised Non-Banking Finance Company

                                             Founders  \
0                                  Shantanu Deshpande
1               Adamas Belva Syah Devara, Iman Usman.
2                                       Jatin Solanki
3                        Srikanth Iyer, Rama Harinath
4                              Narayana Reddy Punyala
..                                                ...
84                    Aaditya Sharda, Souvik Sengupta
85                                     Ritesh Agarwal
86  Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...
87  Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...
88                                     Rajendra Setia

                                             Investor     Amount($)  \
0                                Sixth Sense Ventures    $6,300,000
1                                    General Atlantic  $150,000,000
2      Deepak Parekh, Amitabh Bachchan, Piyush Pandey   $28,000,000
3   Evolvence India Fund (EIF), Pidilite Group, FJ...   $30,000,000
4            Innovation in Food and Agriculture (IFA)    $6,000,000
..                                                ...           ...
84  Tiger Global, Nexus Venture Partners, Accel Pa...   $20,000,000
85  MyPreferred Transformation, Avendus Finance, S...  $693,000,000
86                                    Sequoia Capital    $5,000,000
87  Norwest Venture Partners, General Catalyst, Fu...   $50,000,000
88     TPG, Norwest Venture Partners, Evolvence India   $33,000,000

            Stage
0             NaN
1        Series C
2   Fresh funding
3        Series D
4             NaN
..            ...
84       Series A
85            NaN
86       Series B
87            NaN
88            NaN

[89 rows x 9 columns]

####  Access  datasets from oneDrive, in the field Named as  startup_funding 2019 csv

In [31]:
data.tail(60)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
29,Bijak,2019.0,NaN,AgriTech,B2B platform for agricultural commodities.,"Nukul Upadhye, Mahesh Jakhotia, Jitender Bedwa...","Omnivore and Omidyar Network India, Sequoia Ca...","$2,500,000",Seed fund
30,Licious,NaN,Bangalore,Food,Online meat shop,"Vivek Gupta, Abhay Hanjura",Vertex Growth Fund,"$30,000,000",Series E
31,truMe,NaN,NaN,IoT,A global platform for Identity and Access Mana...,"Babu Dayal, Pramod Uniyal, Lalit Mehta",Rajan Kaistha,"$140,000",NaN
32,Pumpkart,2014.0,Chandigarh,E-marketplace,B2B model for appliances and electrical products,KS Bhatia,Dinesh Dua,Undisclosed,NaN
33,Asteria Aerospace,2011.0,Bangalore,Robotics & AI,"Develops drones that are used by the military,...","Neel Mehta, Nihar Vartak",Reliance Industries,"$230,000,000",NaN
34,Rivigo,2014.0,NaN,Logistics,It offers delivery services across India to re...,"Deepak Garg, Gazal Kalra","SAIF Partners India VI Ltd, Spring Canter Inve...","$20,000,000",Series F
35,HappyEasyGo,2017.0,Gurugram,Travel,Online flight booking,"Vivek Prabhakar, Boris Zha","Korea Investment Partners (KIP), Samsung Ventu...","$49,400,000",Series B+
36,Zetwerk,2018.0,Bangalore,Manufacturing,Provides facilities to get products manufactured.,"Amit Acharya, Srinath Ramakkrushnan","Lightspeed and Greenoaks Capital, Sequoia Indi...","$32,000,000",Series B
37,Observe.AI,NaN,Bangalore,AI,Creates a voice AI platform,Swapnil,Scale Venture Partners,"$26,000,000",Series A
38,Freshokartz,2016.0,Jaipur,E-marketplace,Online fruits and vegetables delivery company,Rajendra Lora,ThinkLab,"$150,000",Pre series A
39,Lil’ Goodness and sCool meal,NaN,Bangalore,Food & Nutrition,It empowers moms to provide the best of foods ...,NaN,"Sajan Pillai, Muthu Krishnan,","$400,000",NaN
40,Trell,2016.0,Bangalore,Social Media,Blogging platform that enables people to creat...,"Pulkit Agrawal, Prashant Sachan, Arun Lodhi, B...","Ruizheng Investment, Tej Kapoor, Krinshavatara...","$2,000,000",Pre series A
41,VMate,NaN,NaN,NaN,A short video platform,NaN,Alibaba,"$100,000,000",NaN
42,Bombay Shirt Company,2012.0,Mumbai,E-commerce,Online custom shirt brand,Akshay Narvekar,Lightbox Ventures,"$8,000,000",NaN
43,Slintel,2016.0,NaN,SaaS,It helps sales and marketing teams understand ...,Deepak Anchala,Stellaris Ventures,"$1,500,000",NaN
44,MyGameMate,NaN,Bangalore,E-Sports,eSports platform where players can access vari...,Parshavv Jain& Raju Kushwaha,"Jindagi Live Angels,","$100,000",NaN
45,Afinoz,NaN,Noida,Fintech,Online financial marketplace for customized ra...,Rachna Suneja,Fintech innovation lab,Undisclosed,NaN
46,Rein Games,NaN,Noida,Technology,"It develops, publishes and distributes games a...","Vaibhav Gupta, Himanshu Devra, Pranav Chaudhar...",Manipal Education and Medical Group (MEMG) fam...,"$50,000,000",Pre series A
47,Ecozen,NaN,Pune,AgriTech,It develops technology-enabled products to str...,"Devendra Gupta, Prateek Singhal, Vivek Pandey",Innovation in Food & Agriculture Fund (IFA Fund),"$6,000,000",Series A
48,Box8,2011.0,Mumbai,Foodtech,Enables to order food online,"Amit Raj, Anshul Gupta",Trifecta Capital,"$120,000,000",NaN
49,Awign Enterprises,2016.0,Bangalore,NaN,It supplies workforce to the economy,"Annanya Sarthak, Gurpreet Singh, Praveen Sah","Work10M, Michael and Susan Dell Foundation, Ea...","$4,000,000",Series A
50,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Goldman Sachs,"$30,000,000",Series C
51,Freightwalla,2017.0,Mumbai,B2B,Provides digital platform for businesses to pl...,"Sanjay Bhatia, Bharat Tanvi, Punit Java","Amplo, FJ Labs, Rogue One Capital","$4,000,000",Series A
52,TapChief,2016.0,Bangalore,NaN,It connects individuals in need of advice in a...,"Shashank Murali, Binay Krishna, Arjun Krishna",Blume Ventures.,"$1,500,000",Pre series A
53,eJOHRI,2015.0,Mumbai,Jewellery,Omnichannel marketplace for gems and jewellery,"Jignesh Mehta, Shailen Mehta",Rajesh Ranavat,"$1,000,000",Pre series A
54,Ninjacart,2015.0,NaN,B2B Supply Chain,It connects producers of food directly to reta...,"Thirukumaran Nagarajanin, Vasudevan Chinnathambi","Walmart, Flipkart",Undisclosed,NaN
55,Binca Games,2014.0,Mumbai,Games,It offers games that are available across Indi...,"Rubianca Wadhwa, Sahil Wadhwa",Sunil Gavaskar,Undisclosed,NaN
56,KredX,NaN,Bangalore,NaN,Invoice discounting platform,Manish Kumar,Tiger Global Management,"$26,000,000",Series B
57,m.Paani,NaN,Mumbai,NaN,It digitizes and organises local retailers,Akanksha Hazari,"AC Ventures, Henkel","$5,500,000",Series A
58,Origo,2010.0,Gurugram,AgriTech,It provides post-harvest management services f...,"Mayank Dhanuka, Sunoor Kaul","Oikocredit, Caspian SME Impact Fund IV, Triod...","$6,800,000",NaN
59,WishADish,NaN,Delhi,Food & tech,Provides management solution for restaurants,"Sawan Kumar, Bhavya Bhambhani",Undisclosed,"$6,000,000",NaN
60,Ecom Express,2012.0,Gurugram,Logistics,It is a technology enabled logistics solutions...,"Krishnan, Manju Dhawan, K Satyanarayana, Sanje...",CDC Group,"$36,000,000",NaN
61,Stanza Living,2017.0,Delhi,Accomodation,Provides comfortable and secure accomodation f...,"Sandeep Dalmia, Anindya Dutta",Alteria Capital,"$5,700,000",NaN
62,PiBeam,NaN,Chennai,Automotive tech,It is engaged in building sustainable and affo...,Visakh Sasikumar,GAIL (India) Ltd,"$50,000,000",NaN
63,Euler Motors,NaN,Delhi,Automotive tech,It is offering mobility as a service,Saurav Kumar,"Blume Ventures, Emergent Ventures","$2,000,000",NaN
64,Moms Co,NaN,New Delhi,E-commerce,It is into mother and baby care-focused consum...,Malika Sadani,"Saama Capital, DSG Consumer Partners","$5,000,000",Series B
65,Cubical Labs,2013.0,NaN,IoT,Home automation solution provider,"Dhruv Ratra, Swati Vyas",Rockstud Capital,Undisclosed,Series B
66,Lawyered,2015.0,Delhi,Legal tech,It helps to connect to legal advise online,"Ashish Bhatia, Himanshu Gupta","Pramendra Tomar, Ratish Pandey, Munish Bhatia,...","$100,000",NaN
67,Cuemath,2013.0,Bangalore,Edtech,It helps students to learn math online,Manan Khurma,"Manta Ray Ventures Limited, Google’s Capital G...","$5,500,000",NaN
68,Licious,2015.0,Bangalore,Food,Online meat shop,"Vivek Gupta, Abhay Hanjura",Vertex Ventures,"$25,000,000",Series D
69,Nivesh.com,2016.0,Noida,Mutual Funds,The platform simplifies the process of investment,"Anurag Garg, Sridhar Srinivasan",Windrose Capital,"$600,000",NaN
70,Zebu,2015.0,NaN,Cybersecurity,Platform uses encryption technology to allow b...,Team of Waterloo-based software developers,Undisclosed,"$4,000,000",Seed round
71,Smart Institute,NaN,Surat,Edtech,A platform to learn online,NaN,HNI investors,"$1,500,000",NaN
72,CarDekho,2008.0,Jaipur,Automobile,Enables people to buy and sell new/old cars.,Amit Jain,"Ping An Global Voyager Fund, Hillhouse Capital...","$70,000,000",Series D
73,Shadowfax,2015.0,Bangalore,Logistics,A platform for delivery services,"Abhishek Bansal, Vaibhav Khandelwal","Flipkart, Eight Roads Ventures, NGP Capital, Q...","$60,000,000",Series D
74,Credr,2014.0,Mumbai,Automobile,A marketplace to buy and sell used bikes and s...,Mittal,"Omidyar Network, Eight Roads Ventures, GrowthS...","$6,000,000",NaN
75,Sportido,2015.0,Noida,Sports,It is a sports discovery app that helps to fin...,"Neeraj Aggarwala, Akhil Ramachandran","Inflection Point Ventures, SucSEED Venture Par...",Undisclosed,Series B
76,Phable,2018.0,NaN,Healthtech,"It creates an engagement loop between doctors,...",Sumit Sinha,"LetsVenture, 91 Springboard, IKP Knowledge, An...","$220,000",NaN
77,Sarva,NaN,Chennai,Yoga & wellness,It drives a cultural change in making yoga-bas...,Sarvesh Shashi,"Venture fund, Fireside Ventures.","$2,800,000",NaN
78,IndyFint,2019.0,Bangalore,Virtual Banking,It helps lenders to directly provide short-ter...,Paddy Padmanabhan,Saravanan Adiseshan,"$2,100,000",Series A
79,Zolostays,2015.0,NaN,Accomodation,It offers affordable housing apartments to you...,"Akhil Sikri, Nikhil Sikri, Sneha Choudhry",Trifecta Capital,"$7,000,000",NaN
80,Ola,2010.0,Bangalore,Transportation,It enables one to book cab online,"Bhavish Aggarwal, Ankit Bhati","Kia Motors, Hyundai","$311,000,000",NaN
81,Zoomcar,2013.0,Bangalore,Transport & Rentals,A car rental service platform,"Greg Moran, David Back",Zoomcar Inc,"$4,800,000",NaN
82,Kratikal,NaN,Uttar pradesh,Technology,Provides cyber security solutions,Pavan Kushwaha,"Gilda VC, Art Venture, Rajeev Chitrabhanu","$1,000,000",Pre-series A
83,Froogal,NaN,Hyderabad,Marketing & Customer loyalty,A cloud based Customer Loyalty & Engagement Pl...,"Jeevan Chowdary M, Harshit Harchani",US-based angel investors,"$1,000,000",Pre series A
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

#### Initial Impressions of the 2019 Dataset
Column Headers:

CompanyName/Brand: The name of the company or startup.
Founded: The year the startup or company was established.
Sector: The relevant business sector in which the startup participates.
Stage: The stage of funding received by the startup.
Amount($): The amount of funding received by the startup, in US Dollars (USD).
HeadQuarter: The location of the headquarters or main branch of the startup.
What It Does: A brief description of the startup and its activities.
Founders: The founders of the startup.
Investor: The individuals or entities that invested in the startup.

Observations:

The dataset comprises 9 columns.

The Amount($) column contains data in US Dollars (USD).

#### Access  dataset for 2018 in the oneDrive.the data is named startup_funding 2018 on github

In [3]:
import pandas as pd

# Correctly formatted URL of the raw CSV file on GitHub
csv_url ='https://raw.githubusercontent.com/coderacheal/database-connection-config/master/data.csv'

In [2]:
# Display the first few rows of the DataFrame

print(data.head(100))

NameError: name 'data' is not defined

##### Initial Impressions of the 2018 Dataset
Column Headers:

Company Name: The name of the company or startup.
Industry: The relevant industry in which the startup participates.
Round / Series: The stage of funding received by the startup.
Amount: The amount of funding received by the startup, currently in Indian Rupees (INR).
Location: The location of the headquarters or main branch of the startup, including city, state, and country.
About Company: A brief description of the startup and its activities.

Observations:

This dataset has the fewest columns among all four datasets.
The Amount column contains data in Indian Rupees (INR), which needs to be converted to United States Dollars (USD) to ensure uniformity with other datasets.
The Location column includes detailed location data, encompassing city, state, and country.

#### Import 2020 dataset

In [ ]:
import pandas as pd
import sqlalchemy

# Create a connection to the SQL database
# Replace the connection string with your actual database connection details
connection_string = "your_connection_string"
engine = sqlalchemy.create_engine(connection_string)
connection = engine.connect()

# Define your SQL query
query = "SELECT * FROM dbo.LP1_startup_funding2020"

# Read data from SQL database into a pandas DataFrame
startup_2020 = pd.read_sql(query, connection)

# Display the DataFrame
print(startup_2020)

# Close the connection
connection.close()

Initial Impressions of the dataset for 2020

The column headers are as follows: 
Company_Brand - The name of the company or startups
Founded - The year the startup or company was established
Sector - The relevant business sector in which the startup participates in 
Stage - The stage when the startup was funded 
Amount - The amount of funding received by the startup
HeadQuarter - The place of the headquarters or main branch of the startups 
What_it_does - brief description of the startup, especially what it does
Founders - The founders of the startup
Investor - The people which invested in the startup
Column10 - This is an empty column

The columns are 10 columns
Column10 has to be removed as it contains no data
The data in the amount column is in US Dollars.

# Data Preparation

##### Overview of 2018 dataset

In [ ]:
#a quick overview of the datatypes for 2018 dataset
print(startup_2018.info(), "\n---------- Null Values ----------")

#check for null values
print(startup_2018.isna().sum(), "\n---------- Duplicate rows ----------")

#check for duplicates
print(startup_2018[startup_2018.duplicated()])

In [ ]:
For the 2018 dataset, it is noticed that there is one duplicate row which can be immediately cleaned

In [ ]:
# Remove duplicate in 2018
startup_2018 = startup_2018.drop_duplicates(keep = 'first')
startup_2018.reset_index(drop=True, inplace=True)
startup_2018

In [ ]:
# a quick overview of the datatypes for 2019 dataset
print(startup_2019.info(), "\n---------- Null Values ----------")

#check for null values
print(startup_2019.isna().sum(), "\n---------- Duplicate rows ----------")

#check for duplicates
print(startup_2019[startup_2019.duplicated()])

In [ ]:
# a quick overview of the datatypes for 2020 dataset
print(startup_2020.info(), "\n---------- Null Values ----------")

#check for null values
print(startup_2020.isna().sum(), "\n---------- Duplicate rows ----------")

#check for duplicates
print(startup_2020[startup_2020.duplicated()])

For the 2020 dataset, it is noticed that there are three duplicate row which can be immediately cleaned. Furthermore, column 10 will be dropped.

#### Laing out of datasets

In [ ]:
# Preliminary Cleaning for 2020
# Drop column 10
startup_2020 = startup_2020.drop(columns = ['column10'])
print(startup_2020)

In [ ]:
# Remove duplicate in 2020
startup_2020 = startup_2020.drop_duplicates(keep = 'first')
startup_2020.reset_index(drop=True, inplace=True)
startup_2020

In [ ]:
# a quick overview of the datatypes for 2021 dataset
print(startup_2021.info(), "\n---------- Null Values ----------")

#check for null values
print(startup_2021.isna().sum(), "\n---------- Duplicate Rows ----------")

#check for duplicates
print(startup_2021[startup_2021.duplicated()])

For the 2021 dataset, it is noticed that there are three duplicate row which can be immediately cleaned. Furthermore, column 10 will be dropped.

In [ ]:
# Remove duplicate in 2021
startup_2021 = startup_2021.drop_duplicates(keep = 'first')
startup_2021.reset_index(drop=True, inplace=True)
startup_2021

For 2018, there is quite some work to be done. We need to add three more columns to the dataset for it to be similar to that of the other datasets. We will do the following:
1 Add new columns for 2018 which are 'year_found','founders',and 'investors
2 Renaming the columns for 2018 to be more in line with the other datasets
3 Renaming the columns for the other datasets of 2019, 2020, and 2021
4 Adding another column for the four datasets titled 'funding_year' which contains the years when the startups received funding from investors
  and it was reported

In [ ]:
#2018 add more columns
# Add new columns for 'year_found', 'founders', and 'investors'
startup_2018['year_found'] = None
startup_2018['founders'] = None
startup_2018['investor'] = None

In [ ]:
#rename column names for each dataframe for uniformity before merging

startup_2018.rename(columns = {'Company Name':'startup','Round/Series':'funding_stage','About Company': 'description','Industry':'industry','Amount':'amount_usd', 'Location':'location','investor':'investors'},inplace = True)
startup_2019.rename(columns = {'Company/Brand':'startup','HeadQuarter':'location','Sector':'industry','What it does' :'description','Amount($)':'amount_usd','Stage': 'funding_stage', 'Founders':'founders', 'Investor':'investors','Founded':'year_found'},inplace = True)
startup_2020.rename(columns = {'Company_Brand':'startup','HeadQuarter':'location','Sector':'industry','What_it_does' :'description','Amount':'amount_usd','Stage': 'funding_stage', 'Founders':'founders', 'Investor':'investors','Founded':'year_found'},inplace = True)
startup_2021.rename(columns = {'Company_Brand':'startup','HeadQuarter':'location','Sector':'industry','What_it_does' :'description','Amount':'amount_usd','Stage': 'funding_stage', 'Founders':'founders', 'Investor':'investors','Founded':'year_found'},inplace = True)

In [ ]:
#add a column for the year funding was recieved for each dataframe before merging.
startup_2021['funding_year']= '2021'
startup_2020['funding_year']= '2020'
startup_2019['funding_year']= '2019'
startup_2018['funding_year']= '2018'

The datasets have the same setup and they can be merged into one combined dataset - startups_df

In [ ]:
# merge all dataframes

startups_df = pd.concat([startup_2018,startup_2019,startup_2020,startup_2021], axis = 0)
startups_df.reset_index(drop=True, inplace=True)
startups_df

Looking at the merged dataset, we look at the datatypes, the number of unique values, and actual number and percentage of null or missing values
within the dataset. The goal is to deliver a cleaned dataset without any significant missing values.

In [ ]:
#view the datatype
startups_df.info()
print(f'============Number of unique values===============')
startups_df.nunique()

In [ ]:
#check for percentage of null values 
startups_df.isna().mean() * 100

In [ ]:
#check for the number of null values 
startups_df.isna().sum()

# Data Cleaning 

Data cleaning is a major part of Data Preparation, which is the main part of the CRISP-DM process. Data cleaning takes up a significant amount of time to do, but when done correctly, provides invaluable insights to a question or a problem, which the data could be used to solve. In this regard, we are cleaning the columns one by one. We will start with cleaning in the following order:
1 Amount 
2 Location 
3 Funding Stage

In [ ]:
# examine the amount column and its unique values.
startups_df['amount_usd'].unique()

In [ ]:
# Full cleanup of the 'amount_usd' column
# initialize a list with all words in the amount column
mist = ['None','Upsparks','Series C', 'Seed','ah! Ventures','Pre-series A', 'ITO Angel Network, LetsVenture','JITO Angel Network, LetsVenture']
#get the index of the list 
mist_index = startups_df.index[startups_df['amount_usd'].isin(mist)]
#initialize a list of figures in funding_stage column
stage_values = ['$1200000','$300000','$6000000','$1000000']
#get the index of the list
stage_index = startups_df.index[startups_df['funding_stage'].isin(stage_values)]
#view entries in wrong columns which is the sum of the mist_index and stage_index
startups_df.loc[[1764, 1903, 1904, 2185, 2192, 2198, 2321,2324, 2795]]

#correct entries in the wrong columns by creating a list
corrections ={
        1764: {'amount_usd':'$1200000','investors':'Upsparks','location':'undisclosed','founders':'Pritesh Kumar, Bharat Gupta','funding_stage':'undisclosed'},
        1903: {'amount_usd':'$22000000','investors':'Morgan Stanley Private Equity Asia',
              'location':'None','Founders':'Varun Khanna','industry':'Pharmaceuticals',
              'funding_stage':'Series C','description':'Development and Manufacturing'},
        1904: {'amount_in_usd':'$5000000','investors':'Anshuman Maheshwary, Dr Srihari Raju Kalidindi','Founders':'Vikash Mishra, Mragank Jain',
              'industry':'None','funding_stage':'Seed',
              'description':"MoEVing is India's only Electric Mobility focu.."},
        2185: {'amount_usd':'$300000','Investor':'ah! Ventures','founders':'Vishal Gupta',
              'funding_stage':'None','description':'Holistic Development Programs for children in Soft Skills that make Smart Leaders'},
        2192: {'amount_usd':'$1000000','funding_stage':'Pre-series A','investors':'None'},
        2198: {'amount_usd':'$300000','investors':'JITO Angel Network, LetsVenture','founders':'Omkar Pandharkame, Ketaki Ogale',
             'funding_stage':'None'},
       2321: {'amount_usd':'$6000000','funding_stage':'None'},
       2324: {'amount_usd':'$1000000','investors':'JITO Angel Network, LetsVenture','funding_stage':'None'},
       2795:{'amount_usd':'1000000','funding_stage':'Seed','investors':'None'}
}

# Loop through each index and update the values
for index, new_values in corrections.items():
    for column, value in new_values.items():
        if column in startups_df.columns:
            startups_df.at[index, column] = value



# Preview rows with amount vales showing $Undisclosed, $undisclosed, and Undisclosed
undisclosed_list = ['$Undisclosed', '$undisclosed', 'Undisclosed']

# Get the index for all rows with undisclosed
undisclosed_index = startups_df.index[startups_df['amount_usd'].isin(undisclosed_list)]

# Replace undisclosed values with NA
startups_df.loc[undisclosed_index, ['amount_usd']] = startups_df.loc[undisclosed_index, ['amount_usd']].replace(undisclosed_list, np.nan)




def clean_amount(amount):
    """
    Cleans the 'Amount_in_usd' column by removing unwanted symbols and converting to float.
    If the amount is in rupees (₹), it converts to USD.
    """
    if isinstance(amount, str):
        # Remove unwanted symbols
        clean_amount = amount.replace('$', '').replace('₹', '').replace(',', '').replace('-', 'np.nan')
        # Convert to float
        try:
            clean_amount = float(clean_amount)
        except ValueError:
            return np.nan
        # Convert rupees to USD if applicable
        if '₹' in amount:
            clean_amount *= 0.0146
        return clean_amount
    elif isinstance(amount, (int, float)):
        return float(amount)
    else:
        return np.nan

startups_df['amount_usd'] = startups_df['amount_usd'].apply(clean_amount)

startups_df['amount_usd']

In [ ]:
# check for missing values
startups_df['amount_usd'].isna().sum()

#the null values include undisclosed amount, we will fill the median considering outliers and skewness

startups_df['amount_usd'].fillna(startups_df['amount_usd'].median(), inplace=True)

startups_df['amount_usd'].isna().sum()

After cleaning the amount_usd column, we checked for missing vales or null values. Afterwards it was realized that the null values which include undisclosed amount were to be filled with the median considering outliers and skewenss of data. This is shown by the previous code block.

LOCATION 
The next column that was cleaned was that of the location column. The main issue of focus here, was to divide the 'location' column into three columns - 'city', 'state', and 'country'. This is because, there is data which suggest the city, state, and country location of the headquarters or main branch of a particular startup. The process of cleaning this column, is documented in the cells below:
1 unique values in the location column are checked
2 ensure that the relevant datatypes of values are within the column
3 location is split into city, state, and country columns
4 correct mappings and dictionaries are created that relevant datatypes are within the appropriate columns

In [ ]:
# check unique values in the location column
startups_df.location.unique()

In [ ]:
# wrong entries from other columns found in location and has to be corrected.
# initialize a list with all wrong entries  in the locattion column
wrong_loc = ['Food & Beverages','Online Media\t#REF!', 'Information Technology & Services']
# get the index of the list 
wrong_loc_index = startups_df.index[startups_df['location'].isin(wrong_loc)]
# view entries in wrong columns and correct them
startups_df.loc[[1902, 2747, 2823]]
# correct entries in the wrong columns by creating a list
correct_entries ={
                1902: {'industry':'Food & Beverages','location':'Hauz Khas'},
                2747: {'industry':'Online Media','location':'None',
                        'founders':'CA Harvinderjit Singh Bhatia, Garima Surana, A',
                      'description':'Sochcast is an Audio experiences company that ...',
                       'investors':'Vinners, Raj Nayak, Amritaanshu Agrawal'},
                2823: {'industry':'Information Technology & Services','location':'Manchester, Greater Manchester'}
                }
# Loop through each index and update the values
for index, new_values in correct_entries.items():
    for column, value in new_values.items():
        if column in startups_df.columns:
            startups_df.at[index, column] = value


# # Split the location Column into City, State and Country
startups_df[["city", "state","country"]] = startups_df["location"].str.split(",", n=2, expand=True)

startups_df["city"].unique()

In [ ]:
#remove \t#REF! from city column
startups_df['city'] = startups_df['city'].str.replace('\t#REF!','')

#define a function to correct city names wrongly spelt and mapped
def fix_city(cities):
    # Dictionary mapping incorrect city names to correct ones
    correct_city = {
        'Bangalore': 'Bengaluru',
        'Bangalore City': 'Bengaluru',
        'Banglore': 'Bengaluru',
        'Hyderebad': 'Hyderabad',
        'Gurgaon': 'Gurugram',
        'Trivandrum':'Thiruvananthapuram',
        'Cochin': 'Kochi',
        'Ernakulam': 'Kochi',
        'Mangalore': 'Mangaluru',
        'Belgaum': 'Belagavi',
        'Kormangala': 'Bengaluru',
        'Ahmadabad': 'Ahmedabad',
        'Mohali': 'Sahibzada Ajit Singh Nagar',
        'Alleppey': 'Alappuzha',
        'Rajastan': 'Rajasthan',
        'Telugana': 'Telangana',
        'Orissia': 'Odisha',
        'Samsitpur': 'Samastipur',
        'San Franciscao': 'San Francisco',
        'San Francisco Bay Area': 'San Francisco',
        'Kalkaji': 'Delhi',
        'Azadpur': 'Delhi',
        'Bangaldesh': 'Bangladesh',
        'Santra':'Satara',
        'Warangal': 'Warangal',
        'Hubli':'Hubballi',
        'Hauz Khas': 'Delhi',
        'Small Towns': 'unknown',
        'undisclosed': 'unknown'
    }
    return correct_city.get(cities, cities)

#apply correction to city column
startups_df['city'] = startups_df['city'].apply(fix_city)

#correct entries in city column where state is found at different rows
state_in_city = ['Uttar pradesh', 'Rajasthan','Odisha', 'Bihar','Telangana','Goa','Kerala','Tamil Nadu','Haryana','Gujarat','Punjab','Karnataka','Madhya Pradesh','Andhra Pradesh','Chandigarh','Uttarakhand','Jharkhand','West Bengal','Dadra and Nagar Haveli and Daman and Diu']

state_index = startups_df.index[startups_df['city'].isin(state_in_city)]

#index positions of states found in city column
state_index = [84,  102,  142,  289,  417,  420,  426,  433,  469,  480,  492,  521,529,551,  557,607,613,  712,  
               716,  718,724,  740,  766,  787,923,  945,  960,  978, 1082, 1112,1207,1241,1307, 1315,1338, 1364,
               1370,1376, 1485, 1487, 1492, 1592,1602, 1639,1702, 1723, 1808,1839, 1981, 1989,1991, 2029, 2084,
               2087, 2097, 2315,2362, 2405,2491, 2501, 2556, 2603, 2721]

# Swap City and State values at the specified index positions
for idx in state_index:
    if idx < len(startups_df):
        startups_df.at[idx, 'state'], startups_df.at[idx, 'city'] = startups_df.at[idx, 'city'],np.nan

#countries in city column
country_in_city = ['India','Singapore','Bangladesh','France']

#locate the index positions of countries in city column
country_index = startups_df.index[startups_df['city'].isin(country_in_city)]

country_index = [12, 42, 59, 199, 705, 857, 886, 1011, 1069, 1094]

# Swap City and country values at the specified index positions
for idx in country_index:
    if idx < len(startups_df):
        startups_df.at[idx, 'country'], startups_df.at[idx, 'city'] = startups_df.at[idx, 'city'],np.nan
    
#change None to Nan and covert to string data type
startups_df['city'] = startups_df['city'].replace('None', 'nan').astype('str')
startups_df['city'] = startups_df['city'].replace('nan','unknown')

In [ ]:
# check for missing values
print(f" number of missing value is :{startups_df['city'].isna().sum()}")

# Display the cleaned city columns
startups_df['city'].unique()

In [ ]:
#view the state column unique values
startups_df['state'].unique()

In [ ]:
# remove whitespaces and replace None wih Nan
startups_df['state'] = startups_df['state'].str.strip().replace('None', np.nan)

# Define a mapping of incorrect to correct state names
def fix_state(states):
    state_mapping = {'Uttar pradesh': 'Uttar Pradesh',
                    'Tamilnadu': 'Tamil Nadu',
                    'Rajastan': 'Rajasthan', 
                   'Ile-de-France': 'Île-de-France', 
                   'Lombardia': 'Lombardy',
                   'Silicon Valley': 'California',
                  'CA': 'California'}
    return state_mapping.get(states, states)

# Correct the state names
startups_df['state'] = startups_df['state'].apply(fix_state)


#countries in state column
country_in_state = ['India','United States','China']

#locate the index positions of countries in state column
countries_index = startups_df.index[startups_df['state'].isin(country_in_state)]

countries_index = [240, 799, 837, 876, 915]

# Swap state and country values at the specified index positions
for idx in countries_index:
    if idx < len(startups_df):
        startups_df.at[idx, 'country'], startups_df.at[idx, 'state'] = startups_df.at[idx, 'state'],np.nan
    
#change None to Nan and covert to string data type
startups_df['state'] = startups_df['state'].replace('None', 'Nan').astype('str')


# # # Get only the countries from the 'State' column
# # countries = merged_df[merged_df['state'].apply(lambda x: isinstance(x, str))]['state'].unique()
# # countries

# Display the cleaned DataFrame
startups_df['state'].unique()

In [ ]:
# we will map cities to state and fill the na

# Dictionary to map cities to their respective states
city_to_state = {
    'Bengaluru': 'Karnataka', 'Mumbai': 'Maharashtra', 'Gurugram': 'Haryana', 'Noida': 'Uttar Pradesh',
    'Hyderabad': 'Telangana', 'Delhi': 'Delhi', 'New Delhi': 'Delhi', 'Hubballi': 'Karnataka', 'Chennai': 'Tamil Nadu',
    'Mohali': 'Punjab', 'Kolkata': 'West Bengal', 'Pune': 'Maharashtra', 'Jodhpur': 'Rajasthan',
    'Kanpur': 'Uttar Pradesh', 'Ahmedabad': 'Gujarat', 'Kochi': 'Kerala', 'Faridabad': 'Haryana',
    'Jaipur': 'Rajasthan', 'Kota': 'Rajasthan', 'Anand': 'Gujarat', 'Belgavi': 'Karnataka',
    'Thane': 'Maharashtra', 'Margão': 'Goa', 'Indore': 'Madhya Pradesh', 'Alwar': 'Rajasthan',
    'Kannur': 'Kerala', 'Thiruvananthapuram': 'Kerala', 'Uttar Pradesh': 'Uttar Pradesh', 'Sahibzada Ajit Singh Nagar':'Punjab',
    'Andheri': 'Maharashtra', 'Mylapore': 'Tamil Nadu', 'Ghaziabad': 'Uttar Pradesh', 'Powai': 'Maharashtra',
    'Guntur': 'Andhra Pradesh', 'Kalpakkam': 'Tamil Nadu', 'Bhopal': 'Madhya Pradesh', 'Coimbatore': 'Tamil Nadu',
    'Worli': 'Maharashtra', 'Guindy': 'Tamil Nadu', 'Lucknow': 'Uttar Pradesh', 'Belagavi':'Karnataka',
    'Surat': 'Gujarat', 'Tirunelveli': 'Tamil Nadu', 'Warangal': 'Telangana', 'Rajsamand': 'Rajasthan',
    'Ranchi': 'Jharkhand', 'Vadodara': 'Gujarat', 'Nagpur': 'Maharashtra', 'Silvassa': 'Dadra and Nagar Haveli and Daman and Diu',
    'Dhingsara':'Haryana', 'Roorkee': 'Uttarakhand', 'Ambernath': 'Maharashtra', 'Panchkula': 'Haryana', 'Alappuzha': 'Kerala',
    'Bhubaneswar': 'Odisha', 'Kottayam': 'Kerala', 'Panaji': 'Goa', 'Satara': 'Maharashtra', 'Ludhiana':'Punjab',
    'Bhilwara': 'Rajasthan', 'Guwahati': 'Assam', 'The Nilgiris': 'Tamil Nadu', 'Gandhinagar': 'Gujarat','Dehradun':'Uttarakhand',
    'Patna': 'Bihar', 'Samastipur': 'Bihar', 'Tumkur': 'Karnataka','Mangaluru': 'Karnataka', 'California':'California','San Francisco': 'California', 'San Ramon': 'California',
    'Seattle': 'Washington', 'Irvine':'California', 'Mountain View':'California','Plano':'Texas','Frisco':'Texas','New York':'New York', 'Milano':'Lombardia',
    'London':'England', 'Palmwoods':'Queensland', 'Singapore':'Singapore','Tangerang':'Jawa Barat','Shanghai':'Shanghai Municipality', 'Beijing': 'Beijing Municipality',
    'Paris':'Ile-de-France','Sydney':'New South Wales','Newcastle Upon Tyne': 'England','Bangkok':'Bangkok Special Administrative Area','Jiaxing':'Zheijang',
    'Berlin':'Berlin','Riyadh':'Riyadh','Manchester':'England','Seoul':'Seoul SPMC','California':'unknown','unknown': 'unknown'
}

# # Map the cities to their respective states
startups_df['state'] = startups_df['city'].map(city_to_state)

# # # Replace 'nan' and 'None' values in the City column with np.nan
# merged_df['city'].replace(['nan', 'None', 'unknown'], np.nan, inplace=True)

# Replace np.nan in the State column with the mapped state from the City column
startups_df['state'].fillna(startups_df['city'].map(city_to_state),inplace = True)

# Replace 'nan' values in the State column with unknown
startups_df['state'].str.replace('nan','unknown').replace(' ','unknown')

# Display the DataFrame

startups_df['state'].unique()
startups_df['state'].value_counts()

In [ ]:
#view the state column unique values
startups_df['state'].isna().sum()

In [ ]:
#cleaning the country column

startups_df['country'].unique()

In [ ]:
#remove whitespaces
startups_df['country'] = startups_df['country'].str.strip()
# Dictionary to map states to their respective countries
state_to_country = {
    'Karnataka': 'India', 'Maharashtra': 'India', 'Haryana': 'India', 'Uttar Pradesh': 'India',
    'Telangana': 'India', 'Delhi': 'India', 'Tamil Nadu': 'India', 'Punjab': 'India',
    'West Bengal': 'India', 'Rajasthan': 'India', 'Gujarat': 'India', 'Kerala': 'India',
    'Goa': 'India', 'Madhya Pradesh': 'India', 'Andhra Pradesh': 'India', 'Bihar': 'India',
    'Jharkhand': 'India', 'Dadra and Nagar Haveli and Daman and Diu': 'India', 'Uttarakhand': 'India',
    'Odisha': 'India', 'Assam': 'India', 'West Coast': 'United States','Western US':'United States', 
    'California':'United States','New York':'United States','Texas':'United States',
    'New South Wales':'Australia','Queensland':'Australia','Ile-de-France':'France','Lombardia':'Italy','unknown': 'unknown',
    'Bangkok Special Administrative Area':'Thailand', 'Washington': 'United States', 'Beijing Municipality':'China', 'Riyadh':'Saudi Arabia',
    'Berlin':'Germany', 'Seoul SPMC':'South Korea','Manchester':'England'
}

# Map the states to their respective countries
startups_df['country'] = startups_df['country'].fillna(startups_df['state'].map(state_to_country))
# # Map the states to their respective countries
# startups_df['country'] = startups_df['country'].fillna(startups_df['state'].map(state_to_country))


# Display the DataFrame
startups_df['country'].unique()

In [ ]:
startups_df['country'].isna().sum()

In [ ]:
#drop the location column
startups_df.drop(columns='location',inplace = True)

FUNDING STAGE 
The next column to be cleaned is that of the 'funding_stage' column. This column shows the stage at which the startups received their funding. The next few cells detail the cleaning process for this column, and how values were cleaned. 
1 Unique values were checked 
2 regular expression was used to create a mapping using a list of dictionaries
3 checked for any more missing values

In [ ]:
# view unique values
startups_df['funding_stage'].unique()

Regular expressions were used to define mapping using a list of dictionaries and to group these into 5 stages which can be found on startup india's website.

In [ ]:
import pandas as pd
import numpy as np
import re                      

# Define the mapping using a list of dictionaries
def map_stage(funding_stage):
    if pd.isna(funding_stage) or funding_stage in ['Undisclosed', 'undisclosed', 'None', 'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593']:
        return 'Unknown'
    
    if re.search(r'\b(Bootstrapping|Self-funding)\b', funding_stage, re.IGNORECASE):
        return 'Ideation'
    elif re.search(r'\b(Pre-Seed|Angel|Grant|Non-equity Assistance|Early Seed)\b', funding_stage, re.IGNORECASE): 
        return 'Validation'
    elif re.search(r'\b(Seed|Seed Funding|Seed Fund|Seed Round|Seed Investment|Pre Series A|Pre-Seed Round|Pre Series A1)\b', funding_stage , re.IGNORECASE):
        return 'Early Traction'
    elif re.search(r'\b(Series [A-I]|Private Equity|Venture - Series Unknown|Corporate Round|Secondary Market|Fresh Funding|Post Series A|Series B\+|Pre-Series A1|Series A\+|Series B3|PE|Series F1|Series A2|Mid Series|Series C, D|Series E2|Series D1|Series F2|Series B2|Series A-1|Pre-Series B|Pre-Series C)\b', funding_stage, re.IGNORECASE):
        return 'Scaling'
    elif re.search(r'\b(Debt Financing|Post-IPO Debt|Post-IPO Equity|Bridge|Bridge Round|Debt|Funding Round|Edge)\b', funding_stage, re.IGNORECASE):
        return 'Exit Options'
    else:
        return 'Unknown'
    
# Apply the function to the 'funding_stage' column
startups_df['funding_stage'] = startups_df['funding_stage'].apply(lambda x: map_stage(x)).astype(str)

# Print the DataFrame to check the results
startups_df['funding_stage'].unique()

In [ ]:
#check for missing values

startups_df['funding_stage'].isna().sum()

In [ ]:
#check the unique values in location and inconsistencies
startups_df['industry'].unique()

In [ ]:
startups_df['industry'] = startups_df['industry'].str.capitalize()
startups_df['industry'].value_counts()

In [ ]:
# Get the first sentence of every list
startups_df['industry']=startups_df['industry'].str.split(",").str[0].astype('str')
startups_df['industry'].unique()
# merged_df['industry'].value_counts()

In [ ]:
import re

# Mapping the industries to sectors using regular expre
def map_sector(industry):
    if re.search(r'\b(3D Printing|Analytics|.*Tech.*|Android|Apps|Artificial Intelligence|Battery|Big Data|Blockchain|CleanTech|Cloud Computing|Cloud Infrastructure|Collaboration|Communities|Computer|Consumer Applications|Embedded Systems|Energy|Enterprise Resource Planning \(ERP\)|Enterprise Software|File Sharing|Information Services|Information Technology|Internet|Internet of Things|Mobile|Nanotechnology|Renewable Energy|Search Engine|Smart Cities|Software)\b', industry, re.IGNORECASE):
        return 'IT & Technology'
    elif re.search(r'\b(Accounting|B2B|Business Development|Business Intelligence|Business Travel|Career Planning|Consulting|Creative Agency|Crowdsourcing|Customer Service|Environmental Consulting|Facilities Support Services|Government|Human Resources|Market Research)\b', industry, re.IGNORECASE):
        return 'Business Services'
    elif re.search(r'\b(Advertising|Audio|Brand Marketing|Broadcasting|Classifieds|Digital Entertainment|Digital Marketing|Digital Media|Gaming|Marketing|Media and Entertainment|Music|Music Streaming|News|Online Games|Online Portals|Reading Apps|Social Media)\b', industry, re.IGNORECASE):
        return 'Media & Entertainment'   
    elif re.search(r'\b(Aerospace|Automotive|Autonomous Vehicles|Industrial|Industrial Automation|Packaging Services)\b', industry, re.IGNORECASE):
        return 'Manufacturing'
    elif re.search(r'\b(AgTech|Agriculture|Farming)\b', industry, re.IGNORECASE):
        return 'Agriculture'
    elif re.search(r'\b(Air Transportation|Delivery|Delivery Service|Electric Vehicle|Last Mile Transportation|Logistics|Transportation|Transportation)\b', industry, re.IGNORECASE):
        return 'Transportation & Logistics'
    elif re.search(r'\b(Hel.*|Hea.*|Hosp.*|Vet.*|Pharma.*|Alternative Medicine|Biopharma|Biotechnology|Dental|Dietary Supplements|Child Care|Health Care|Health Diagnostics|Hospital|Medical|Medical Device|Veterinary|Wellness|Healthcare)\b', industry, re.IGNORECASE):
        return 'Healthcare & Life Sciences'
    elif re.search(r'\b(Fin.*|Banking|Consumer Lending|Credit|Credit Cards|Crowdfunding|Cryptocurrency|FinTech|Finance|Financial Services|Fraud Detection|Funding Platform|Health Insurance|Insurance|Mobile Payments|Trading Platform|Wealth Management)\b', industry, re.IGNORECASE):
        return 'Financial Services'
    elif re.search(r'\b(Basketball|Fantasy Sports|Fitness|Sports|eSports)\b', industry, re.IGNORECASE):
        return 'Sports'
    elif re.search(r'\b(Beauty|Children|Consumer|Consumer Electronics|Cooking|Cosmetics|Eyewear|Fashion|Food Processing|Food and Beverage|Home Decor)\b', industry, re.IGNORECASE):
        return  'Consumer Goods'
    elif re.search(r'\b(Catering|.*travel.*|Events|Hospitality|Tourism|Travel|Wedding)\b', industry, re.IGNORECASE):
        return 'Travel & Tourism' 
    elif re.search(r'\b(E-Commerce|E-Commerce Platforms|Marketplace|Retail|.*commerce.*|)\b', industry, re.IGNORECASE):
        return 'Online Retail' 
    elif re.search(r'\b(Continuing Education|.*Edu.*|learn|academy|Professional Training & Coaching|tutor|stem|Higher Educatio|E-Learning|EdTech|edttech|Preschool Daycare|school|Education|edutech|Teaching|Training)\b', industry, re.IGNORECASE):
        return 'Education'
    elif re.search(r'\b(Commercial|Commercial Real Estate|Rental||Housing Marketplace|Furniture Rental|Real estate|Housing|Rental|Furniture|Rental space|Proptech)\b', industry, re.IGNORECASE):
        return 'Real Estate'
    elif re.search(r'\b(Clean Energy|.*nergy.*|EV|Solar.*|Ev startup|Electricity|Wl & rac protection)\b', industry, re.IGNORECASE):
        return 'Energy'
    else:
        return 'Others'
    
# # Apply the function to the Industry column
startups_df['industry'] = startups_df['industry'].apply(map_sector)

# # Display the DataFrame to verify the changes
startups_df['industry'].value_counts()

In [ ]:
# filter only the rows with the "Others" industry
others_ind = startups_df[startups_df["industry"] == "Others" ]
others_ind.head(5)

In [ ]:
# view the descriptions of the companies with the others categories
others_ind["description"]

In [ ]:
# create dictionary to contain the keywords in the what_it_does column
keywords = {
    'entertainment': 'Media & Entertainment',
    'microfinance': 'Financial Services',
    'tyre care': 'Consumer Goods',
    'nbfc': 'Financial Services',
    'specialty food': 'Consumer Goods',
    'mobile game development': 'IT & Technology',
    'campaign management': 'Business Services',
    'electric mobility startup': 'Transportation & Logistics',
    'food science': 'Consumer Goods',
    'machine learning': 'IT & Technology',
    'location based network': 'IT & Technology',
    'real estate': 'Real Estate',
    'semiconductor company': 'IT & Technology',
    'travellers accommodation': 'Travel & Tourism',
    'beauty, wellness': 'Consumer Goods',
    'search engine marketing': 'IT & Technology',
    'digital marketing agency': 'Business Services',
    'cross border e-commerce solutions': 'Business Services',
    'wealth management platform': 'Financial Services',
    'micro-event & contextual marketing': 'Business Services',
    'partners with small and medium businesses': 'Financial Services',
    'celebrate and reward': 'Financial Services',
    'post-harvest management': 'Business Services',
    'cyber security': 'IT & Technology',
    'cosmetics brand': 'Consumer Goods',
    'activity discovery & booking platform': 'Travel & Tourism',
    'edutech': 'Education'
}

# Function to assign sector based on description
def assign_sector(description):
    for keyword,industry in keywords.items():
        if keyword in description.lower():
            return industry
    return "Others" #Keep Others if no keyword matches

# Update sectors for entries currently labeled as "Others"
startups_df.loc[startups_df['industry'] == 'Others', 'industry'] = startups_df.loc[startups_df['industry'] == 'Others', 'description'].apply(assign_sector)
startups_df['industry'].value_counts()

In [ ]:
#check for missing values
startups_df['industry'].isna().sum()

In [ ]:
# Replace all the Nulls with undisclosed
startups_df["investors"].fillna("Undisclosed",inplace=True)

In [ ]:
#  Remove unwanted characters
startups_df['year_found'] = startups_df['year_found'].replace(['...', np.nan], np.NaN)

startups_df['year_found'].isna().sum()

In [ ]:
# Fill the nulls
startups_df["year_found"].fillna(method ='bfill',inplace = True)

startups_df['year_found'].isna().sum()

In [ ]:
# Remove unwanted characters
startups_df['founders'] = startups_df['founders'].replace(['...', np.nan], np.NaN)

# Check the number of NaN values in the 'founders' column
startups_df['founders'].isna().sum()


#fill the nulls with unknown
startups_df['founders'].fillna('unknown', inplace = True)

startups_df['founders'].isna().sum()

In [ ]:
startups_df.describe().T

In [ ]:
startups_df.isna().sum()

In [ ]:
#save file
startups_df.to_csv('indian_startup_ecosystem_merged_data.csv')

In [ ]:
#Hypothesis Testing
import statsmodels.api as sm
from statsmodels.formula.api import ols

#define threshhold
threshold = 0.05

anova_results = {}
significant_factors = []

# List of categorical columns
categorical_cols = ['industry', 'funding_stage', 'state', 'funding_year', 'year_found', 'founders', 'investors', 'city']

for col in categorical_cols:
    model = ols(f'amount_usd ~ C({col})', data = startups_df).fit()
    anova_table = sm.stats.anova_lm(model, typ=2)
    anova_results[col] = anova_table
    
    # Check if the p-value is below the threshold of 0.05
    if anova_table["PR(>F)"][0] < 0.05:
        significant_factors.append(col)

# Display the ANOVA results
for col, result in anova_results.items():
    print(f"ANOVA results for {col}:\n", result, "\n")

# Display significant factors
print("Significant factors (p < 0.05):", significant_factors)

# Interpret the results
p_value = anova_table['PR(>F)'][0]
if p_value < threshold:
    print("Reject the null hypothesis: There is a significant difference in the average funding amounts across different sectors.")
else:
    print("Fail to reject the null hypothesis: There is no significant difference in the  funding amounts across the years.")

# Modeling

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt


# Display the summary statistics of the 'amount_usd' column grouped by 'funding_stage'
funding_stage_summary = startups_df.groupby('funding_stage')['amount_usd'].describe()
print(funding_stage_summary)

# Calculate the total funding amount for each funding stage
total_funding_by_stage = startups_df.groupby('funding_stage')['amount_usd'].sum().sort_values(ascending=False)
print(total_funding_by_stage)

# Plot the total funding amount for each funding stage
plt.figure(figsize=(12, 6))
total_funding_by_stage.plot(kind='bar', color='skyblue')
plt.title('Total Funding Amount by Funding Stage')
plt.xlabel('Funding Stage')
plt.ylabel('Total Funding Amount (USD)')
plt.xticks(rotation=45)
plt.show()

# Calculate the average funding amount for each funding stage
average_funding_by_stage = startups_df.groupby('funding_stage')['amount_usd'].mean().sort_values(ascending=False)
print(average_funding_by_stage)

# Plot the average funding amount for each funding stage
plt.figure(figsize=(12, 6))
average_funding_by_stage.plot(kind='bar', color='lightgreen')
plt.title('Average Funding Amount by Funding Stage')
plt.xlabel('Funding Stage')
plt.ylabel('Average Funding Amount (USD)')
plt.xticks(rotation=45)
plt.show()

print("done")

From the data, it is evident that on average, the stages at which Indian startups are funded the most are during the exit options and Indian startups are least funded at the Validation Stage

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the data
df = pd.read_csv('indian_startup_ecosystem_merged_data.csv')

# Group by city and state to get the sum of funding amounts
city_funding = df.groupby('city')['amount_usd'].sum().sort_values(ascending=False)
state_funding = df.groupby('state')['amount_usd'].sum().sort_values(ascending=False)

# Plotting the distribution of funding across cities
plt.figure(figsize=(9, 8))
sns.barplot(x=city_funding.values, y=city_funding.index, palette='viridis')
plt.title('Distribution of Funding Across Cities in India')
plt.xlabel('Total Funding Amount (USD)')
plt.ylabel('City')
plt.tight_layout()
plt.savefig('city_funding_distribution.png')
plt.show()

# Plotting the distribution of funding across states
plt.figure(figsize=(9, 8))
sns.barplot(x=state_funding.values, y=state_funding.index, palette='viridis')
plt.title('Distribution of Funding Across States in India')
plt.xlabel('Total Funding Amount (USD)')
plt.ylabel('State')
plt.tight_layout()
plt.savefig('state_funding_distribution.png')
plt.show()

print("done")

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the data
df = pd.read_csv('indian_startup_ecosystem_merged_data.csv')

# Split the investors column into individual investors
investors_split = df['investors'].str.split(', ', expand=True).stack().reset_index(level=1, drop=True)
investors_split.name = 'investor'

# Join the split investors back to the original dataframe
investors_df = df.join(investors_split)

# Group by investor to get the count and total funding amount
investor_funding = investors_df.groupby('investor')['amount_usd'].agg(['count', 'sum']).sort_values(by='count', ascending=False)

# Group by industry to get the total funding amount
industry_funding = df.groupby('industry')['amount_usd'].sum().sort_values(ascending=False)

# Plotting the most frequent investors
plt.figure(figsize=(12, 8))
sns.barplot(x=investor_funding['count'].head(10), y=investor_funding.index[:10], palette='viridis')
plt.title('Top 10 Most Frequent Investors')
plt.xlabel('Number of Investments')
plt.ylabel('Investor')
plt.tight_layout()
plt.savefig('top_investors.png')
plt.show()

# Plotting the total funds invested by top investors
plt.figure(figsize=(12, 8))
sns.barplot(x=investor_funding['sum'].head(10), y=investor_funding.index[:10], palette='viridis')
plt.title('Top 10 Investors by Total Funds Invested')
plt.xlabel('Total Funding Amount (USD)')
plt.ylabel('Investor')
plt.tight_layout()
plt.savefig('top_investors_funding.png')
plt.show()

# Plotting the most funded sectors
plt.figure(figsize=(12, 8))
sns.barplot(x=industry_funding.values[:10], y=industry_funding.index[:10], palette='viridis')
plt.title('Top 10 Most Funded Sectors')
plt.xlabel('Total Funding Amount (USD)')
plt.ylabel('Industry')
plt.tight_layout()
plt.savefig('top_funded_sectors.png')
plt.show(10)

print('done')

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Setting the aesthetic style for the plots
sns.set(style="whitegrid")

# Filtering the dataset for the years 2018 to 2021
filtered_data = startups_df[(startups_df['funding_year'] >= 2018) & (startups_df['funding_year'] <= 2021)]

# Grouping by year to get total funding amount each year
funding_by_year = filtered_data.groupby('funding_year')['amount_usd'].sum().reset_index()

# Plotting the total funding amount by year
plt.figure(figsize=(10, 6))
sns.barplot(x='funding_year', y='amount_usd', data=funding_by_year, palette='viridis')
plt.title('Total Funding Received by Indian Startups (2018-2021)')
plt.xlabel('Year')
plt.ylabel('Total Funding (USD)')
plt.show()

# Grouping by funding stage to get total funding amount for each stage
funding_by_stage = filtered_data.groupby('funding_stage')['amount_usd'].sum().reset_index()

# Plotting the total funding amount by stage
plt.figure(figsize=(12, 6))
sns.barplot(x='amount_usd', y='funding_stage', data=funding_by_stage.sort_values(by='amount_usd', ascending=False), palette='viridis')
plt.title('Total Funding by Stage (2018-2021)')
plt.xlabel('Total Funding (USD)')
plt.ylabel('Funding Stage')
plt.show()

# Identifying the years with the most and least funding
max_funding_year = funding_by_year.loc[funding_by_year['amount_usd'].idxmax()]
min_funding_year = funding_by_year.loc[funding_by_year['amount_usd'].idxmin()]

# Identifying the stage with the most and least funding
max_funding_stage = funding_by_stage.loc[funding_by_stage['amount_usd'].idxmax()]
min_funding_stage = funding_by_stage.loc[funding_by_stage['amount_usd'].idxmin()]

max_funding_year, min_funding_year, max_funding_stage, min_funding_stage

# Evaluation

# Deployment